
itables==1.6.3
nltk==3.8.1
numpy==1.25.2
pandas==2.2.0
streamlit==1.29.0
streamlit_jupyter==0.2.1
# datasets==2.16.1
# transformers==4.36.1
# tensorboard==2.15.1
# tensorboard-data-server==0.7.2
# tensorflow==2.15.0
# tensorflow-estimator==2.15.0
# tensorflow-io-gcs-filesystem==0.34.0